<div class="main-content bg-light min-vh-100 d-flex flex-column">
  <!-- Título -->
  <h1 class="text-center display-4" [ngClass]="colors[currentMessageIndex]" style="transition: color 0.5s ease-in-out;">
    {{ messages[currentMessageIndex] }}
  </h1>

  <!-- Conteúdo da Tabela -->
  <div class="flex-grow-1 d-flex justify-content-center align-items-start mt-5 relative">
    <!-- Verifica se há ofertas de emprego -->
    @if (!loading && jobOffers.length > 0) {
      <div class="w-100 mx-3">
        <table class="table table-bordered table-responsive-sm" style="margin: 0 auto 40px auto; table-layout: fixed;">
          <thead class="bg-dark text-center text-white">
            <tr>
              <th style="width: 10%;">Title</th>
              <th style="width: 8%;">Enterprise</th>
              <th style="width: 8%;">Contract Type</th>
              <th style="width: 40%;">Description</th>
              <th style="width: 6%;">Date</th>
              <th style="width: 6%;">Action</th>
            </tr>
          </thead>
          <tbody>
            @for (job of jobOffers; track job.id) {
              <tr>
                <td class="border text-center">{{ job.title }}</td>
                <td class="border text-center">{{ job.nomEnterprise }}</td>
                <td class="border text-center">{{ job.typeContract }}</td>
                <td class="border description-cell">{{ job.description }}</td>
                <td class="border text-center">{{ job.createdAt }}</td>
                <td class="border text-center">
                  <button type="button" (click)="openApplicationForm(job)"
                     class="btn btn-success text-white apply-btn rounded hover:bg-blue-500 transition duration-200">
                     Apply
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
    <!-- Caso não haja ofertas de emprego -->
    @if (!loading && jobOffers.length === 0) {
      <div class="text-center">No job offers found.</div>
    }
  </div>

  <!-- Modal de Aplicação -->
  @if (selectedJob) {
    <div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Apply for {{ selectedJob.title }}</h5>
            <button type="button" class="btn-close" (click)="closeApplicationForm()" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (submit)="submitApplication()">
              <div class="mb-3">
                <label for="fullName" class="form-label">Full Name</label>
                <input id="fullName" [(ngModel)]="application.fullName" name="fullName" type="text" class="form-control" required/>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" [(ngModel)]="application.email" name="email" type="email" class="form-control" required/>
              </div>
              <div class="mb-3">
                <label for="cv" class="form-label">Upload CV</label>
                <input id="cv" name="cv" type="file" (change)="onFileSelected($event)" class="form-control" required />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeApplicationForm()">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit Application</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  }
</div>
