api.jobboard.wip {
	tls internal
	reverse_proxy localhost:8000
}

http://api.jobboard.wip {
	redir https://api.jobboard.wip{uri}
}

app.jobboard.wip {
	tls internal
	reverse_proxy localhost:4200
}

http://app.jobboard.wip {
	redir https://app.jobboard.wip{uri}
}
