<div class="d-flex justify-content-center align-items-center h-100">
  <div class="container rounded p-4 mt-4" style="max-width: 400px; background-color: #d4edda;">

    <h2 class="text-center mb-4">Login</h2>

    <form (ngSubmit)="handleLoginSubmit()" #loginForm="ngForm" novalidate>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Your email" required #emailInput="ngModel"/>
        <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger"> Email is required. </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Enter password" required #passwordInput="ngModel"/>
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger"> Password is required. </div>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid"> Login </button>
    </form>

    <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>

    <div class="text-center mt-3">
      <p>Don't have an account?</p>
      <button class="btn btn-outline-success" (click)="goToRegister()">Sign up</button>
    </div>


  </div>
</div>
