<div class="w-full h-[100px] bg-green-500 flex items-center justify-center">
  <h1 class="text-[50px] text-white font-bold">List Of Users</h1>
</div>

<div class="w-[100%] pt-4 mt-4 bg-blue-200 mx-auto flex justify-center items-center min-h-screen">
  <table class="table table-bordered table-striped w-full">
    <thead>
      <tr>
        <th class="w-16">#</th>
        <th class="w-32">Nome</th>
        <th class="w-48">Email</th>
        <th class="w-48">Roles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="w-16">{{ user.id }}</td>
        <td class="w-16">{{ user.firstname }} {{ user.lastname }}</td>
        <td class="w-16">{{ user.email }}</td>
        <td class="w-16">{{ user.roles.join(', ') }}</td>
      </tr>
    </tbody>
  </table>
</div>




<div class="w-full h-[50px] bg-green-500 flex items-center justify-center">
  <h1 class="text-[30px] text-white font-bold">&copy; 2025 AC Marvel - Tous droits réservés</h1>
</div>




