<div class="w-100 h-100 bg-success d-flex align-items-center justify-content-center">
   <h1 class="text-white font-weight-bold display-4">Application Job</h1>
</div>

<div class="application-job-list container mt-4">
  <ul class="list-unstyled">
    @for (job of applicationJobs; track job.id) {
      <li class="job-item p-3 mb-3 border corder-light rounded">
        <p><strong>ID:</strong> {{ job.id }}</p>
        <p><strong>State:</strong> {{ job.state }}</p>
      </li>
    }
  </ul>
</div>

<main class="w-100 bg-success text-white p-4 rounded"></main>

<div class="w-100 h-50 bg-success d-flex align-items-center justify-center">
  <h1 class="text-white font-weight-bold small">&copy; 2025 AC Marvel - Tous droits réservés</h1>
</div>
