<div class="container-fluid p-4" style="background-color: #d0e5ff;">
  <div class="d-flex flex-column justify-content-center align-items-center bg-primary-subtle" style="min-height: 80vh;">
    <div class="container w-25 bg-success overflow-auto rounded p-2">
      <h2 class="text-center mb-5" style="padding: 10px; border-radius: 5px; color: white;">
        Recruiter Register
      </h2>

      <form (ngSubmit)="handleRegisterSubmit(registerForm)" #registerForm="ngForm">
        <div class="mb-3">
          <input type="text" class="form-control bg-success-subtle" id="firstName" name="firstName" placeholder="Enter your first name" [(ngModel)]="firstName" required />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control bg-success-subtle" id="lastName" name="lastName" placeholder="Enter your last name" [(ngModel)]="lastName" required />
        </div>
        <div class="mb-3">
          <input type="email" class="form-control bg-success-subtle" id="email" name="email" placeholder="Enter your email" [(ngModel)]="email" required />
        </div>
        <div class="mb-3">
          <label for="role">Select your Role</label>
          <select id="role" name="role" [(ngModel)]="role" required>
            <option value="" disabled>Select your Role</option>
            <option value="Recruiter">Recruiter</option>
          </select>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control bg-success-subtle" id="password" name="password" placeholder="Enter password" [(ngModel)]="password" required />
        </div>
        <div class="mb-3">
          <input type="password" class="form-control bg-success-subtle" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" [(ngModel)]="confirmPassword" required />
        </div>
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-outline-primary rounded-pill px-5 py-3">
            Register
          </button>
        </div>

        @if (error) {
          <div class="text-danger mb-3">{{ error }} </div>
        }
      </form>
    </div>
  </div>
</div>
