
<div class="container mt-5 w-25">
  <h2 class="text-center mb-5">Recruiter Register</h2>
  <form (ngSubmit)="handleRegisterSubmit(registerForm)" #registerForm="ngForm">
  <div class="mb-3">
    <input type="text" class="form-control bg-success-subtle" id="firstName" name="firstName" placeholder="Enter your first name" [(ngModel)]="firstName" required />
  </div>

  <div class="mb-3">
    <input type="text" class="form-control bg-success-subtle" id="lastName" name="lastName" placeholder="Enter your last name" [(ngModel)]="lastName" required />
  </div>

  <div class="mb-3">
    <input type="email" class="form-control bg-success-subtle" id="email" name="email" placeholder="Enter your email" [(ngModel)]="email" required />
  </div>

  <div class="mb-3">
    <select class="form-select bg-success-subtle" id="role" name="role" [(ngModel)]="role" required>
      <option value="" disabled>Select your Role</option>
      <option value="Recruiter">Recruiter</option>
    </select>
  </div>

  <div class="mb-3">
    <input type="password" class="form-control bg-success-subtle" id="password" name="password" placeholder="Enter password" [(ngModel)]="password" required/>
  </div>

  <div class="mb-3">
    <input type="password" class="form-control bg-success-subtle" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" [(ngModel)]="confirmPassword" required />
  </div>

  <div class="text-center mt-3">
    <button type="submit" class="btn btn-outline-success">Register</button>
  </div>

  <div *ngIf="error" class="text-danger mb-3">{{ error }}</div>
</form>


</div>
